<div class="container mt-5">
  <h1>URL Shortener</h1>
</div>
<div>
  <img src="https://www.shutterstock.com/zh-Hant/image-illustration/large-group-people-seen-above-gathered-313431206"
    width="30" height="30" class="d-inline-block align-top" alt="URL">
</div>
<div class="form-group">
  <label for="exampleInputUrl"></label>
  <input type="url" class="form-control" id="exampleInputUrl" placeholder="Input URL here">
</div>

<button type="button" class="btn btn-outline-info">Shorten</button>